html,body{
    margin:0%;
    background-color: darkgrey;
    font-family: 'Poppins', Serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
input{
    border-radius: 5px;
    border: 2px solid black ;
    margin-top:30px;
    height:2.5em;
    width:80%;
    padding-left:10px;
}
#wrapper{
    background-color: transparent;
    backdrop-filter: blur(150px);
    position:absolute;
    top:15%;
    bottom:auto;
    left:auto;
    right:30%;
    width:30%;
    height:80%;
    border-radius:10px;
    padding:30px;
    
}
#todoList{
    color:white;
    font-size:28px;  
    letter-spacing: 1px;
}

#todoList p{
  margin:10px 0px;
}
#todoList p:hover{
    cursor: pointer;
  }

  